/*
          |    o          |    o                
,---.,---.|    .,---.,---.|__/ . ,---.,---.,---.
|   ||   ||    ||   |`---.|  \ | |   ||    |   |
`---|`---'`---'``   '`---'`   ``o`---'`    `---|
`---'                                      `---' 2014
*/

* { 
	margin:0; 
	padding:0; 
}
html, body { 
	font-family:Lato, 
	sans-serif; 
	width:100%; 
}

body {
	background:url('../img/bg.gif') repeat-y;
	color:#000;
}
#canvas-bg { 
	display:block; 
	z-index:1;
}
#logo { 
	position:absolute; 
	left:60px; 
	top:113px;
}
nav { 
	padding:15px 0 0 0; 
	position:fixed; 
	bottom:44px; 
	left:60px; 
	background: url("../img/dash.gif") no-repeat top left;
	ul { 
		list-style:none; 
	}
	ul li a, ul li a:hover { 
		background:none; 
		text-transform:uppercase; 
		text-decoration:none; 
		color:#000; 
		font-weight:700; 
		font-size:13px; 
		line-height:18px; 
	}
	ul li.active a { 
		font-weight:900; 
	}
}
main { 
	position:absolute; 
	left:278px; 
	top:0; 
	width:777px; 
	padding:113px 72px 0 72px; 
	font-size:11px;
	article{
		padding: 0 0 20px 0;
		margin:0 0 20px 0;
		background: url('../img/-.gif') no-repeat bottom left;
		h2 { font-weight: 700;
			a { 
				color:#000;
				text-decoration: none;
				font-weight:700; 
				font-size:16px;
			}
			a:hover {
				text-decoration: underline;
			}
		}
		
		.date { 
			margin:5px 0 0 0;
			font-size:14px; 
		}
	}
	//article:last-of-type { 
	//	background:none;
	//}
	time { font-size: 14px;}
	.tags { 
			margin:10px 0 0 0;
			//color:#666;
			font-weight:700;
			font-size:11px;
			i {
				font-size:14px;
			}
			.tag {
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				//background:#c3c3c3;
				background:#444;
				color:#fff;
				padding:4px;
				margin: 0 0 2px 4px;
				font-size:10px;
			}
	}
	pre {
	    //background-color: #262721; //monokai
	    margin: 20px 20px 20px 26px;
	    padding: 5px;
	    width: 593px;
	    border: 1px solid #dddddd;
	}
	p {
		margin-bottom:20px;
	}
	code {
	    //background-color: #262721;//monokai
	    padding-left: 3px;
	    padding-right: 3px;
	}
	iframe {
		margin: 20px 0;
	}
}
#pagination {
	font-size:16px;
	a { text-decoration:none; color:#666}
	a:hover { text-decoration:none; color:#000;}
	em { color: #000; }
	i { font-size:15px; }
}
footer { 
	display:block; 
	clear:both; 
	margin:15px 0 0 0; 
	padding:17px 0 0 0; 
	background: url("../img/dash.gif") no-repeat top left; 
	font-weight:700px; 
	font-size:10px;
	.name { 
		text-transform: uppercase; 
	}
}