/*
          |    o          |    o                
,---.,---.|    .,---.,---.|__/ . ,---.,---.,---.
|   ||   ||    ||   |`---.|  \ | |   ||    |   |
`---|`---'`---'``   '`---'`   ``o`---'`    `---|
`---'                                      `---' 2014
*/
* {
  margin: 0;
  padding: 0; }

html, body {
  font-family: Lato,  sans-serif;
  width: 100%; }

body {
  background: url("../img/bg.gif") repeat-y;
  color: #000; }

#canvas-bg {
  display: block;
  z-index: 1; }

#logo {
  position: absolute;
  left: 60px;
  top: 113px; }

nav {
  padding: 15px 0 0 0;
  position: fixed;
  bottom: 44px;
  left: 60px;
  background: url("../img/dash.gif") no-repeat top left; }
  nav ul {
    list-style: none; }
  nav ul li a, nav ul li a:hover {
    background: none;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px; }
  nav ul li.active a {
    font-weight: 900; }

main {
  position: absolute;
  left: 278px;
  top: 0;
  width: 777px;
  padding: 113px 72px 0 72px;
  font-size: 11px; }
  main article {
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    background: url("../img/-.gif") no-repeat bottom left; }
    main article h2 {
      font-weight: 700; }
      main article h2 a {
        color: #000;
        text-decoration: none;
        font-weight: 700;
        font-size: 16px; }
      main article h2 a:hover {
        text-decoration: underline; }
    main article .date {
      margin: 5px 0 0 0;
      font-size: 14px; }
  main time {
    font-size: 14px; }
  main .tags {
    margin: 10px 0 0 0;
    font-weight: 700;
    font-size: 11px; }
    main .tags i {
      font-size: 14px; }
    main .tags .tag {
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      background: #444;
      color: #fff;
      padding: 4px;
      margin: 0 0 2px 4px;
      font-size: 10px; }
  main pre {
    margin: 20px 20px 20px 0;
    padding: 5px 0 5px 5px;
    width: 700px;
    border: 1px solid #dddddd;
    border-radius: 3px; }
  main p {
    margin-bottom: 20px; }
  main .lineno {
    padding: 0 4px 0 6px;
    background: #ececec;
    color: #aaa;
    margin-left: -5px; }
  main .lineno-first {
    padding-top: 5px; }
  main .lineno-last {
    padding-bottom: 5px; }
  main iframe {
    margin: 20px 0; }

#pagination {
  font-size: 16px; }
  #pagination a {
    text-decoration: none;
    color: #666; }
  #pagination a:hover {
    text-decoration: none;
    color: #000; }
  #pagination em {
    color: #000; }
  #pagination i {
    font-size: 15px; }

footer {
  display: block;
  clear: both;
  margin: 15px 0 0 0;
  padding: 17px 0 0 0;
  background: url("../img/dash.gif") no-repeat top left;
  font-weight: 700px;
  font-size: 10px; }
  footer .name {
    text-transform: uppercase; }
