    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <meta name="description" content="{{site.description}}"/>
        <meta name="author" content="{{site.author}}"/>
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />

        <script type="text/javascript" src="{{site.baseurl}}/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="{{site.baseurl}}/js/script.js"></script>
        {% if page.js %}<script type="text/javascript" src="{{site.baseurl}}/js/{{ page.js }}"></script>{% endif %}

        <link rel="stylesheet" href="{{site.baseurl}}/css/style.css" type="text/css" />
        <link rel="stylesheet" href="{{site.baseurl}}/css/syntax.css" type="text/css" />
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,400,700,400italic,700italic,900" type="text/css">
        <link rel="stylesheet" href="{{site.baseurl}}/css/font-awesome.min.css" type="text/css" />
        {% if page.css %} <link rel="stylesheet" href="{{site.baseurl}}/css/{{ page.css }}" />{% endif %}
    </head>