{% include header.html %}
        <canvas id="canvas-bg"></canvas>
		<header>
		<a href="/"><img src="{{ site.baseurl }}/assets/img/logo.png" id="logo" alt="Krzysztof Goliński"/></a>
		</header>
         <nav>
            <ul>
                <li><a href="http://www.golinski.org">MAIN</a></li>
            </ul>
            <footer>&copy; {{ site.time | date: "%Y" }} <span class="name">Krzysztof Goliński</span></footer>
        </nav>
        <main>
            {{ content }}
        </main>
{% include footer.html %}