{% include header.html %}
        <canvas id="canvas-bg"></canvas>
		<header>
		<a href="/"><img src="/files/assets/img/logo.png" id="logo" alt="Krzysztof Goliński"/></a>
		</header>
         <nav>
            <ul>
                <li><a href="http://www.golinski.org">MAIN</a></li>
            </ul>
            <footer>&copy; {{ site.time | date: "%Y" }} <span class="name">Krzysztof Goliński</span></footer>
        </nav>
        <main>
        	<h1>{{ page.title }}</h1>
        	<i class="fa fa-clock-o"></i><time datetime="{{page.date|date:"%F"}}">{% assign d = page.date | date: "%-d"  %}
			{{ page.date | date: "%B" }}
			{% case d %}
			  {% when '1' or '21' or '31' %}{{ d }}st
			  {% when '2' or '22' %}{{ d }}nd
			  {% when '3' or '23' %}{{ d }}rd
			  {% else %}{{ d }}th
			  {% endcase %}, 
			{{ page.date | date: "%Y" }}</time>
			{% if page.tags.size > 0 %}<div class="tags">{%if page.tags.size > 1 %}<i class="fa fa-tags"></i>{% else %}<i class="fa fa-tag"></i>{% endif %}{% for tag in page.tags %}<span class="tag">{{ tag }}</span>{% endfor %}</div>{% endif %}
			<br/>
            {{ content }}
        </main>
{% include footer.html %}